<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kivous.attendanceApp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attendance">
        <activity
            android:name=".TakeAttendance"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".TeacherGiveAttendance"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CheckAttendance"
            android:exported="false" />
        <activity
            android:name=".TeacherDashBoard"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AttendanceList"
            android:exported="false" />
        <activity
            android:name=".CreatePost"
            android:exported="false" />
        <activity
            android:name=".StudentDashBoard"
            android:exported="false" />
        <activity
            android:name=".StudentRegister"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".TeacherLogin" />
        <activity
            android:name=".StudentLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>